In [13]:
import pandas as pd
import os

### Lendo arquivos

In [19]:
path = r'C:\PYTHON\Estados'
files = os.listdir(path)
df = pd.DataFrame()

In [20]:
print(files)

['Estados.xlsx', 'Estados_SE.xlsx']

In [27]:
files_xlsx = [path +'\\' + f for f in files if f[-4:]== 'xlsx']
print(files_xlsx)

['C:\\PYTHON\\Estados\\Estados.xlsx', 'C:\\PYTHON\\Estados\\Estados_SE.xlsx']

In [31]:
for f in files_xlsx:
    data = pd.read_excel(f)
    df = df.append(data)

In [32]:
df

    IBGE            Estado  UF               Região  Qtd Mun Sintaxe
0     11          Rondônia  RO         Região Norte       52  11'RO'
1     12              Acre  AC         Região Norte       22  12'AC'
2     13          Amazonas  AM         Região Norte       62  13'AM'
3     14           Roraima  RR         Região Norte       15  14'RR'
4     15              Pará  PA         Região Norte      144  15'PA'
..   ...               ...  ..                  ...      ...     ...
22    53  Distrito Federal  DF  Região Centro-Oeste        1  53'DF'
0     31      Minas Gerais  MG       Região Sudeste      853  31'MG'
1     32    Espírito Santo  ES       Região Sudeste       78  32'ES'
2     33    Rio de Janeiro  RJ       Região Sudeste       92  33'RJ'
3     35         São Paulo  SP       Região Sudeste      645  35'SP'

[81 rows x 6 columns]